{:cards
 [; Adjectives
  {:adjective "Chosen", :swatches {:red [:shape :texture], :green [:shape]}}
  {:adjective "Corrupted", :swatches {:yellow [:tone :shape]}}
  {:adjective "Deep", :swatches {:red [:hue :shape], :blue [:shape]}}
  {:adjective "Delicate", :swatches {:red [:hue], :purple [:hue :texture]}}
  {:adjective "Divine", :swatches {:red [:shape :tone], :purple [:shape]}}
  {:adjective "Exploring", :swatches {:red [:tone], :purple [:bonus-hue]}}
  {:adjective "Extreme", :swatches {:yellow [:shape :texture], :green [:bonus-hue]}}
  {:adjective "Fading", :swatches {:red [:texture], :blue [:hue]}}
  {:adjective "Fragile", :swatches {:red [:shape], :yellow [:hue]}}
  {:adjective "Forbidden", :swatches {:red [:bonus-hue], :blue [:texture :tone]}}
  {:adjective "Graceful", :swatches {:yellow [:tone], :green [:hue :tone]}}
  {:adjective "Harmonious", :swatches {:red [:hue], :green [:tone]}}
  {:adjective "Heavy", :swatches {:red [:tone], :yellow [:shape :tone]}}
  {:adjective "Heightened", :swatches {:red [:tone], :yellow [:shape]}}
  {:adjective "Illuminated", :swatches {:red [:hue], :purple [:tone]}}
  {:adjective "Imminent", :swatches {:red [:texture], :blue [:shape]}}
  {:adjective "Improbable", :swatches {:red [:shape], :green [:hue]}}
  {:adjective "Innocent", :swatches {:yellow [:hue], :green [:shape]}}
  {:adjective "Liberated", :swatches {:red [:hue :texture], :green [:texture]}}
  {:adjective "Masked", :swatches {:yellow [:shape], :green [:shape :texture]}}
  {:adjective "Melancholy", :swatches {:red [:shape :tone], :blue [:tone]}}
  {:adjective "Ominous", :swatches {:red [:texture], :purple [:tone]}}
  {:adjective "Peaceful", :swatches {:red [:hue], :yellow [:hue :tone]}}
  {:adjective "Precious", :swatches {:red [:shape :texture], :yellow [:bonus-tone]}}
  {:adjective "Risky", :swatches {:red [:bonus-texture], :green [:shape :tone]}}
  {:adjective "Sudden", :swatches {:red [:tone], :green [:texture]}}
  {:adjective "Unashamed", :swatches {:red [:texture], :yellow [:bonus-shape]}}
  {:adjective "Vast", :swatches {:red [:bonus-shape], :purple [:hue :tone]}}
  {:adjective "Wandering", :swatches {:yellow [:texture :tone], :green [:texture]}}
  {:adjective "Whimsical", :swatches {:red [:hue], :blue [:texture]}}
  ; Nouns
  {:noun "Adventure", :swatches {:green [:bonus-shape], :blue [:tone]}}
  {:noun "Anxiety", :swatches {:yellow [:hue :texture], :purple [:texture]}}
  {:noun "Attraction", :swatches {:green [:hue], :purple [:hue :shape]}}
  {:noun "Bait", :swatches {:green [:shape :texture], :purple [:texture]}}
  {:noun "Beauty", :swatches {:green [:hue], :blue [:shape]}}
  {:noun "Childhood", :swatches {:green [:texture :tone], :purple [:texture]}}
  {:noun "Complexity", :swatches {:yellow [:texture], :blue [:shape]}}
  {:noun "Curiosity", :swatches {:green [:bonus-texture], :blue [:hue :tone]}}
  {:noun "Darkness", :swatches {:yellow [:bonus-texture], :purple [:hue]}}
  {:noun "Dreams", :swatches {:yellow [:tone], :purple [:hue]}}
  {:noun "Escape", :swatches {:green [:shape :texture], :blue [:texture]}}
  {:noun "Expanse", :swatches {:yellow [:tone], :blue [:texture :tone]}}
  {:noun "Freedom", :swatches {:yellow [:tone], :purple [:shape]}}
  {:noun "Game", :swatches {:yellow [:shape], :blue [:bonus-texture]}}
  {:noun "Mess", :swatches {:blue [:shape], :purple [:texture]}}
  {:noun "Mistake", :swatches {:blue [:texture], :purple [:hue]}}
  {:noun "Moment", :swatches {:blue [:hue :texture], :purple [:bonus-tone]}}
  {:noun "Nature", :swatches {:yellow [:hue :shape], :blue [:bonus-tone]}}
  {:noun "Nightmare", :swatches {:green [:bonus-tone], :purple [:shape]}}
  {:noun "Obstacle", :swatches {:yellow [:texture], :blue [:tone]}}
  {:noun "Perspective", :swatches {:green [:hue :tone], :purple [:tone]}}
  {:noun "Pride", :swatches {:green [:hue :tone], :blue [:hue]}}
  {:noun "Purpose", :swatches {:blue [:tone], :purple [:texture :tone]}}
  {:noun "Revolution", :swatches {:yellow [:hue], :blue [:hue :shape]}}
  {:noun "Sanctuary", :swatches {:yellow [:hue], :purple [:hue :texture]}}
  {:noun "Surrender", :swatches {:green [:hue], :blue [:texture]}}
  {:noun "Trap", :swatches {:yellow [:texture], :purple [:bonus-shape]}}
  {:noun "Truth", :swatches {:blue [:shape :hue], :purple [:shape]}}
  {:noun "View", :swatches {:yellow [:shape], :purple [:shape :tone]}}
  {:noun "Warning", :swatches {:blue [:bonus-hue], :purple [:tone]}}]}
